html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  color: black;
  overflow-x: hidden;
}

body .header {
  text-align: center;
  margin: 10px 0px 5px 0px;
  font-weight: 600;
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
}

body .header a,
body .header .wrap {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .main .main-image-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px 10px 0px;
}

body .main .main-image-container .main-image {
  width: 60%;
}

body .main .main-greeting-container {
  font-family: "Nanum Myeongjo", serif;
  text-align: center;
}

body .main .main-greeting-container .main-people {
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: 3px;
  margin: 20px 0;
  font-weight: 600;
}

body .main .main-greeting-container .main-people .and {
  font-weight: 500;
  font-size: 12px;
}

body .main .main-greeting-container .main-people .sub-text {
  letter-spacing: 5px;
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
}

body .main .main-greeting-container .wedding-date {
  font-size: 12px;
  font-weight: 600;
}

body .main .greeting-text-container {
  text-align: center;
  padding: 0px 10px;
  margin: 60px 0;
}

body .main .greeting-text-container .title {
  font-size: 30px;
  font-family: "Pinyon Script", cursive;
}

body .main .greeting-text-container .greetings {
  font-family: "Stylish", sans-serif;
  font-size: 30px;
  line-height: 40px;
}

body .main .greeting-text-container .greetings .big {
  font-size: 40px;
}

body .main .greeting-text-container .opening-statement {
  font-family: "Nanum Myeongjo", serif;
  margin: 40px 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2px;
}

body .main .greeting-container {
  padding: 20px 10px;
  margin: 10px;
  background: rgba(255, 231, 114, 0.21);
  border: 2px solid rgba(254, 226, 93, 0.5);
  outline: 1px solid #fff;
  outline-offset: -10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .greeting-container .family-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  font-family: "Nanum Myeongjo", serif;
  letter-spacing: 7px;
}

body .main .greeting-container .family-container .main {
  font-size: 15px;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

body .main .greeting-container .family-container .main .prefix {
  font-size: 12px;
  margin-right: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

body .main .greeting-container .family-container .family {
  font-size: 15px;
  font-weight: 600;
}

body .main .greeting-container .family-container .family .father {
  margin-bottom: 10px;
}

body .main .greeting-container .family-container .family .prefix {
  font-size: 12px;
  margin-right: 10px;
  font-weight: 500;
  letter-spacing: 2px;
}

body .main .greeting-container .intro-people {
  font-size: 13px;
  line-height: 30px;
}

body .main .greeting-container .intro-people span {
  font-size: 10px;
  margin-right: 5px;
}

body .main .greeting-container .time-location-container {
  margin: 10px;
}

body .main .greeting-container .time-location-container .time,
body .main .greeting-container .time-location-container .location {
  font-weight: 600;
  word-break: keep-all;
}

body .gallery-container {
  margin: 80px 0px;
}

body .gallery-container .gallery-title {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
}

body .gallery-container .image-gallery-container {
  margin: 0 10px;
}

body .gallery-container .image-gallery-container #image-gallery li {
  text-align: center;
}

body .share .share-title {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
}

body .share .share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

body .share .share-container .share-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .share .share-container .share-item img {
  width: 50px;
}

body .share .share-container .share-item i {
  font-size: 50px;
}

body .share .share-container .share-item.kakaotalk a {
  color: #ffc107 !important;
}

body .share .share-container .share-item.sms a {
  color: #28a745 !important;
}

body .share .share-container .share-item.facebook a {
  color: #007bff !important;
}

body .share .share-container .share-item.instagram a {
  color: #e83e8c !important;
}

body .share .share-container .share-item .label {
  font-size: 10px;
  color: black;
  word-break: keep-all;
  margin-top: 10px;
}

body .location-map {
  margin: 80px 0px;
}

body .location-map .map-title {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
}

body .location-map #nmap {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

body .location-map .map-button {
  margin: 5px auto;
  font-size: 12px;
  font-weight: 600;
  width: 90%;
  text-align: center;
}

body .location-map .map_intro {
  margin: 0px auto;
  font-size: 12px;
  font-weight: 500;
  width: 90%;
  font-family: "Nanum Myeongjo", serif;
  color: #838383;
}

body .location-map .map_intro .more_map {
  font-size: 12px;
  color: #898989;
  text-decoration: underline;
}

body .location-map .direction-container {
  margin: 10px auto;
  width: 90%;
}

body .location-map .direction-container .direction {
  margin: 10px 0;
}

body .location-map .direction-container .direction .dir-title {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  font-size: 13px;
}

body .location-map .direction-container .direction .dir-description {
  font-size: 12px;
  font-family: "Nanum Myeongjo", serif;
  color: #838383;
}

body .location-map .time-location-container {
  margin: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 5px auto;
}

body .location-map .time-location-container .location-container {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
  margin: 20px 0 5px 0;
}

body .location-map .time-location-container .location-container .time,
body .location-map .time-location-container .location-container .location {
  font-weight: 600;
  font-size: 12px;
  font-family: "Nanum Myeongjo", serif;
  word-break: keep-all;
}

body .location-map .time-location-container .location-container .address {
  font-weight: 500;
  font-size: 12px;
  font-family: "Nanum Myeongjo", serif;
}

body .location-map .time-location-container .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px 5px 0;
}

body .location-map .time-location-container .call i {
  color: #838383;
  font-size: 20px;
}

body .calendar {
  margin: 60px 0px;
  text-align: center;
}

body .calendar .calendar-header {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  margin: 20px 0px;
}

body .calendar .calendar-check .calendar-image {
  width: 90%;
}

body .footer {
  text-align: center;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer .copyright {
  word-break: keep-all;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */