$main-font: 'Nanum Gothic Coding',
monospace;
$main-cursive: 'Nanum Pen Script',
cursive;
$title: 'Abril Fatface',
cursive;
$title-robster: 'Lobster',
cursive;

html,
body {
    overflow-x: hidden;
}

body {
    position: relative;
     background-image: url("/content/images/background.png");
    color: black;
    overflow-x: hidden;

    .header {
        text-align: center;
        margin: 10px 0px 5px 0px;
        font-weight: 600;
        font-size: 25px;
        font-family: $main-cursive;

        a,
        .wrap {
            color: black;
            text-decoration: none;
            font-size: 25px;
            font-weight: 500;
        }
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;

        .main-image-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0px 10px 0px;

            .main-image {
                width: 75%;
            }
        }

        .greeting-container {
            padding: 20px 10px;
            margin: 10px;
            background: rgba(254, 226, 93, 0.5);
            border: 2px solid rgba(254, 226, 93, 0.5);
            outline: 1px solid #fff;
            outline-offset: -10px;
            text-align: center;

            .title {
                font-size: 20px;
                margin: 10px 0px;
                font-style: italic;
            }

            .greetings {
                font-style: italic;
                font-weight: bold;
            }

            .opening-statement {
                margin: 20px 0px;
                font-size: 11px;
                font-weight: 600;
            }

            .intro-people {
                font-weight: 600;

                span {
                    font-size: 10px;
                    margin-right: 5px;
                }
            }

            .time-location-container {
                margin: 10px;

                .time,
                .location {
                    font-weight: 600;
                    word-break: keep-all;
                }
            }
        }


    }

    .gallery-container {
        .gallery-title {
            font-family: $title-robster;
            font-size: 30px;
            text-align: center;
            margin: 10px 0px;
            text-decoration: underline;
        }

        .image-gallery-container {
            margin: 0 10px;

            .image-gallery {
                li {
                    text-align: center;
                }
            }
        }
    }

    .share {
        .share-title {
            font-family: $main-cursive;
            font-size: 30px;
            text-align: center;
            margin: 10px 0px;
        }

        .share-container {
            display: flex;
            margin: 0 10px;

            .share-item {
                flex: 1 0 25%;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    width: 50px;
                }

                i {
                    font-size: 50px;
                }

                &.kakaotalk {
                    a {
                        color: #ffc107 !important;
                    }
                }

                &.sms {
                    a {
                        color: #28a745 !important ;
                    }
                }

                &.facebook {
                    a {
                        color: #007bff !important;
                    }
                }

                &.instagram {
                    a {
                        color: #e83e8c !important;
                    }
                }

                .label {
                    font-size: 10px;
                    color: black;
                    word-break: keep-all;
                    margin-top: 10px;
                }
            }
        }
    }

    .location-map {
        .map-title {
            font-family: $title-robster;
            font-size: 30px;
            text-align: center;
            margin: 10px 0px;
            text-decoration: underline;
        }

        #nmap {
            width: 90%;
            height: 300px;
            margin: 0 auto;
        }

        .map_intro {
            margin: 0px auto;
            font-size: 12px;
            font-weight: 600;
            width: 90%;

            .more_map {
                font-size: 12px;
                color: #898989;
                text-decoration: underline;
            }
        }

        .time-location-container {
            margin: 10px;
            text-align: center;

            .time,
            .location {
                font-weight: 600;
                word-break: keep-all;
            }

        }

        .calendar {
            margin: 20px 10px 10px 10px;

            .calendar-header {
                font-family: $title-robster;
                font-size: 30px;
                text-align: center;
                margin: 10px 0px;
                text-decoration: underline;
            }

            .calendar-check {
                .calendar-image {
                    width: 90%;
                }
            }
        }
    }
}