html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  background-image: url("/content/images/background.png");
  color: black;
  overflow-x: hidden;
}

body .header {
  text-align: center;
  margin: 10px 0px 5px 0px;
  font-weight: 600;
  font-size: 25px;
  font-family: "Nanum Pen Script", cursive;
}

body .header a,
body .header .wrap {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

body .main .main-image-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px 10px 0px;
}

body .main .main-image-container .main-image {
  width: 75%;
}

body .main .greeting-container {
  padding: 20px 10px;
  margin: 10px;
  background: rgba(254, 226, 93, 0.5);
  border: 2px solid rgba(254, 226, 93, 0.5);
  outline: 1px solid #fff;
  outline-offset: -10px;
  text-align: center;
}

body .main .greeting-container .title {
  font-size: 20px;
  margin: 10px 0px;
  font-style: italic;
}

body .main .greeting-container .greetings {
  font-style: italic;
  font-weight: bold;
}

body .main .greeting-container .opening-statement {
  margin: 20px 0px;
  font-size: 11px;
  font-weight: 600;
}

body .main .greeting-container .intro-people {
  font-weight: 600;
}

body .main .greeting-container .intro-people span {
  font-size: 10px;
  margin-right: 5px;
}

body .main .greeting-container .time-location-container {
  margin: 10px;
}

body .main .greeting-container .time-location-container .time,
body .main .greeting-container .time-location-container .location {
  font-weight: 600;
  word-break: keep-all;
}

body .gallery-container .gallery-title {
  font-family: "Lobster", cursive;
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
  text-decoration: underline;
}

body .gallery-container .image-gallery-container {
  margin: 0 10px;
}

body .share .share-title {
  font-family: "Nanum Pen Script", cursive;
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
}

body .share .share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

body .share .share-container .share-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .share .share-container .share-item img {
  width: 50px;
}

body .share .share-container .share-item i {
  font-size: 50px;
}

body .share .share-container .share-item.kakaotalk a {
  color: #ffc107 !important;
}

body .share .share-container .share-item.sms a {
  color: #28a745 !important;
}

body .share .share-container .share-item.facebook a {
  color: #007bff !important;
}

body .share .share-container .share-item.instagram a {
  color: #e83e8c !important;
}

body .share .share-container .share-item .label {
  font-size: 10px;
  color: black;
  word-break: keep-all;
  margin-top: 10px;
}

body .location-map .map-title {
  font-family: "Lobster", cursive;
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
  text-decoration: underline;
}

body .location-map #nmap {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}

body .location-map .map_intro {
  margin: 0px auto;
  font-size: 12px;
  font-weight: 600;
  width: 90%;
}

body .location-map .map_intro .more_map {
  font-size: 12px;
  color: #898989;
  text-decoration: underline;
}

body .location-map .time-location-container {
  margin: 10px;
  text-align: center;
}

body .location-map .time-location-container .time,
body .location-map .time-location-container .location {
  font-weight: 600;
  word-break: keep-all;
}

body .location-map .calendar {
  margin: 20px 10px 10px 10px;
}

body .location-map .calendar .calendar-header {
  font-family: "Lobster", cursive;
  font-size: 30px;
  text-align: center;
  margin: 10px 0px;
  text-decoration: underline;
}

body .location-map .calendar .calendar-check .calendar-image {
  width: 90%;
}
/*# sourceMappingURL=style.css.map */