body {
    background-image: url("/content/images/background.png");

    .header {
        text-align: center;
        margin: 10px 0px 5px 0px;
        font-style: italic;
        font-weight: 600;
        font-size: 25px;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;

        .main-image-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0px 10px 0px;

            .main-image {
                width: 75%;
            }
        }

        .greeting-container {
            padding: 20px 10px;

            background: rgba(254, 226, 93, 0.5);
            border: 2px solid rgba(254, 226, 93, 0.5);
            outline: 1px solid #fff;
            outline-offset: -10px;
            text-align: center;

            .title {
                font-size: 20px;
                margin: 10px 0px;
                font-style: italic;
            }

            .greetings {
                font-style: italic;
                font-weight: bold;
            }

            .opening-statement {
                margin: 20px 0px;
                font-size: 11px;
                font-weight: 600;
            }

            .intro-people {
                font-weight: 600;
            }

            .time-location-container {
                margin: 10px;

                .time, .location {
                    font-weight: 600;
                }
            }
        }
    }
}