<!doctype html>
<html lang="en">

<head>
    <title>James & Hailey Wedding 9/28, 2019</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- main style css -->
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster|Nanum+Gothic+Coding|Nanum+Pen+Script&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="content/style/style.css">
    <link rel="stylesheet" href="script/lightslider/css/lightslider.css">
    <link rel="stylesheet" href="script/sakura/jquery-sakura.css">
</head>

<body>
    <div class="header">
        <a href="" class="typewrite" data-period="2000"
            data-type='[ "멋진 신랑 정규와", "사랑스런 신부 하람의", "가을 날의 결혼식에", "초대합니다!" ]'>
            <span class="wrap"></span>
        </a>
    </div>
    <div class="main">
        <div class="main-image-container">
            <img class="main-image" src="content/images/wedding-image.jpg" />
        </div>
        <div class="greeting-container">

            <div class="title name">
                James And Hailey!
            </div>
            <div class="greetings">
                우리 결혼합니다!
            </div>
            <div class="opening-statement">
                이역만리 캐나다에서 만난 우리 두 사람<br />
                이제 인생이라는 멀고 먼 길을 마주했습니다<br />
                저희 두 사람이 같은 방향을 바라보며<br />
                함께 나아가는 작지만 큰 첫 발걸음을<br />
                바쁘시더라도 부디 오셔서 축복해 주시면<br />
                더 없는 기쁨으로 간직하겠습니다<br />
            </div>
            <div class="intro-people">
                공병천 · 이미영 <span>의</span> 장남 공정규<br />
                최재광 · 민경숙 <span>의</span> 장녀 최하람<br />
            </div>
            <div class="time-location-container">
                <div class="time">
                    2019. 09. 28. 12:30 p.m
                </div>
                <div class="location">
                    베스트웨스턴로얄호텔 그랜드볼룸홀
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-container">
        <div class="gallery-title">
            Wedding Gallery
        </div>
        <div class="image-gallery-container">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                <li data-thumb="content/images/gallery/w-img1.PNG">
                    <img src="content/images/gallery/w-img1.PNG" />
                </li>
                <li data-thumb="content/images/gallery/w-img2.png">
                    <img src="content/images/gallery/w-img2.png" />
                </li>
                <li data-thumb="content/images/gallery/w-img3.PNG">
                    <img src="content/images/gallery/w-img3.PNG" />
                </li>
                <li data-thumb="content/images/gallery/w-img4.PNG">
                    <img src="content/images/gallery/w-img4.PNG" />
                </li>
                <li data-thumb="content/images/gallery/w-img5.PNG">
                    <img src="content/images/gallery/w-img5.PNG" />
                </li>
            </ul>
        </div>
    </div>
    <div class="contact">
    </div>
    <div class="share">
        <div class="share-title">결혼식 공유하기</div>
        <div class="share-container">
            <div class="share-item kakao-talk">
                <a id="kakao-link-btn" href="javascript:;">
                    <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
                </a>
                <div class="label">카카오톡 공유</div>
            </div>
            <div class="share-item sms">
                <a>
                    <i class="fas fa-sms"></i>
                </a>
                <div class="label">메세지 공유</div>
            </div>
            <div class="share-item facebook">
                <a>
                    <i class="fab fa-facebook-square"></i>
                </a>
                <div class="label">페이스북 공유</div>
            </div>
            <div class="share-item instagram">
                <a>
                    <i class="fab fa-instagram"></i>
                </a>
                <div class="label">인스타그램 공유</div>
            </div>
        </div>
    </div>
    <div class="location-map">
        <div class="map-title">Location</div>
        <a class="more_map" target="_blank" href="https://m.store.naver.com/places/detail?id=16831258&back=false">
            <div id="nmap"></div>
        </a>
        <div class="map_intro">
            인천지하철 간석오거리역에서 도보 2분거리에 위치하여 대중교통 이용이 편리합니다.
            <a class="more_map" target="_blank"
                href="https://m.store.naver.com/places/detail?id=16831258&back=false">네이버 맵으로 보기</a>
        </div>
        <div class="time-location-container">
            <div class="time">
                2019. 09. 28. 12:30 p.m
            </div>
            <div class="location">
                베스트웨스턴로얄호텔 그랜드볼룸홀
            </div>
            <div class="calendar">
                <div class="calendar-header">
                    Save the Date!
                </div>
                <div class="calendar-check">
                    <img class="calendar-image" src="content/images/calendar-check.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="script/lightslider/js/lightslider.min.js"></script>
    <script src="script/sakura/jquery-sakura.min.js"></script>
    <!-- mn7cwsrvym  / 0f283b0774-->
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0f283b0774"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://kit.fontawesome.com/c131427141.js"></script>
    <script src="js/main.js"></script>
</body>

</html>