<!doctype html>
<html lang="en">

<head>
    <title>James & Hailey Wedding 9/28, 2019</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- main style css -->
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lobster|Nanum+Gothic+Coding|Nanum+Pen+Script|Pinyon+Script|Nanum+Myeongjo|Stylish&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="content/style/style.css">
    <link rel="stylesheet" href="script/lightslider/css/lightslider.css">
    <link rel="stylesheet" href="script/sakura/jquery-sakura.css">
</head>
<body>
    <a href="#" class="music">
        <img id="m_icon" src="content/images/icon/music_on.png">
    </a>
    <div class="header">
        <a href="" class="typewrite" data-period="2000"
            data-type='[ "멋진 신랑 정규와", "사랑스런 신부 하람이의", "가을 날의 결혼식에", "초대합니다!" ]'>
            <span class="wrap"></span>
        </a>
    </div>
    <div class="main">
        <div class="main-image-container">
            <img class="main-image" src="content/images/wedding-main.jpg" />
        </div>
        <div class="main-greeting-container">
            <div class="main-people">
                공정규 <span class="and">그리고</span> 최하람
                <div class="sub-text">
                    아름다운 시작
                </div>
            </div>
            <div class="wedding-date">
                2019. 09. 28. SAT PM 12:30 <br />인천로얄호텔 그랜드볼룸홀
            </div>
        </div>
        <div class="greeting-text-container">
            <div class="title name">
                James And Hailey!
            </div>
            <div class="greetings">
                우리 <span class="big">결혼</span>합니다!
            </div>
            <div class="opening-statement">
                단풍국에서 만난 우리 두 사람<br />
                단풍이 물드는 가을날에 결실을 맺어<br />
                혼인의 예를 갖추려 합니다<br />
                귀한 걸음 하시어 축복해 주시면<br />
                늘 가을날처럼 따듯하고<br />
                행복하게 살겠습니다<br />
            </div>
            <div class="greeting-container">
                <div class="family-container">
                    <div class="main">
                        <span class="prefix">신랑</span> 공정규
                    </div>
                    <div class="family">
                        <div class="father">
                            <span class="prefix">아버지</span> 공병천
                        </div>
                        <div class="mother">
                            <span class="prefix">어머니</span> 이미영
                        </div>
                    </div>
                </div>
                <div class="family-container">
                    <div class="main">
                        <span class="prefix">신부</span> 최하람
                    </div>
                    <div class="family">
                        <div class="father">
                            <span class="prefix">아버지</span> 최재광
                        </div>
                        <div class="mother">
                            <span class="prefix">어머니</span> 민경숙
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
    </div>
    <div class="gallery-container">
        <div class="gallery-title">
            소중한 날의 모든 순간
        </div>
        <div class="image-gallery-container">
            <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                <li data-thumb="content/images/gallery/thumb/gal_0.jpg">
                    <img src="content/images/gallery/gal_0.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_1.jpg">
                    <img src="content/images/gallery/gal_1.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_2.jpg">
                    <img src="content/images/gallery/gal_2.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_3.jpg">
                    <img src="content/images/gallery/gal_3.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_4.jpg">
                    <img src="content/images/gallery/gal_4.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_5.jpg">
                    <img src="content/images/gallery/gal_5.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_6.jpg">
                    <img src="content/images/gallery/gal_6.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_7.jpg">
                    <img src="content/images/gallery/gal_7.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_8.jpg">
                    <img src="content/images/gallery/gal_8.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_9.jpg">
                    <img src="content/images/gallery/gal_9.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_10.jpg">
                    <img src="content/images/gallery/gal_10.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_11.jpg">
                    <img src="content/images/gallery/gal_11.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_12.jpg">
                    <img src="content/images/gallery/gal_12.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_13.jpg">
                    <img src="content/images/gallery/gal_13.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_14.jpg">
                    <img src="content/images/gallery/gal_14.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_15.jpg">
                    <img src="content/images/gallery/gal_15.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_16.jpg">
                    <img src="content/images/gallery/gal_16.jpg" />
                </li>
                <li data-thumb="content/images/gallery/thumb/gal_17.jpg">
                    <img src="content/images/gallery/gal_17.jpg" />
                </li>
            </ul>
        </div>
    </div>
    <div class="location-map">
        <div class="map-title">오시는 길</div>
        <a class="more_map" target="_blank" href="https://m.store.naver.com/places/detail?id=16831258&back=false">
            <div id="nmap"></div>
        </a>
        <div class="map-button">
            <a class="btn btn-success more_map w-100 more_map" target="_blank"
                href="https://m.store.naver.com/places/detail?id=16831258&back=false">네이버 맵으로 보기</a>
        </div>
        <div class="time-location-container">
            <div class="location-container">
                <div class="location">
                    인천 베스트웨스턴 로얄호텔 그랜드볼룸홀
                </div>
                <div class="address">
                    인천 남동구 백범로 367 (간석동 173-4)
                </div>
            </div>
            <div class="call">
                <a href="tel:302-421-3300">
                    <i class="fas fa-phone"></i>
                </a>
            </div>
        </div>
        <div class="map_intro">
            인천지하철 간석오거리역 3번 출구에서 도보 2분거리에<br /> 위치하여 대중교통 이용이 편리합니다.
        </div>
        <div class="direction-container">
            <div class="direction metro">
                <div class="dir-title">
                    지하철 안내
                </div>
                <div class="dir-description">
                    1호선 동암역 하차 (남광장 출구) 후 도보 약 10분 소요<br />
                    1호선 부평역에서 인천지하철로 환승 후,<br />
                    간석오거리역 하차 (3번 출구) 후 도보 약 2분 소요
                </div>
            </div>
            <div class="direction bus">
                <div class="dir-title">
                    버스 안내
                </div>
                <div class="dir-description">
                    시내버스 15,29,30,62 마을버스 533,534,538은 <br /> 교원공제회관앞 에서 하차 <br />
                    시내버스 2,6,37,38,45 좌석버스 111-2, 103번은 <br /> 간석오거리 에서 하차
                </div>
            </div>
            <div class="direction airemetro">
                <div class="dir-title">
                    공항철도 안내
                </div>
                <div class="dir-description">
                    인천국제공항역 → 계양역에서 인천지하철로 환승 <br />
                    → 간석오거리역 하차(3번출구)후 도보 약 2분 소요
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <div class="calendar-header">
            결혼 하는 날
        </div>
        <div class="calendar-check">
            <img class="calendar-image" src="content/images/wedding_calendar_check.jpg" />
        </div>
    </div>
    <div class="share">
        <div class="share-title">결혼식 공유하기</div>
        <div class="share-container">
            <div class="share-item kakao-talk">
                <a id="kakao-link-btn" href="javascript:;">
                    <img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
                </a>
                <div class="label">카카오톡 공유</div>
            </div>
            <!-- <div class="share-item sms">
                        <a href="">
                            <i class="fas fa-sms"></i>
                        </a>
                        <div class="label">메세지 공유</div>
                    </div> -->
            <div class="share-item band">
                <a href="#" data-toggle="sns_share" data-service="band" data-title="네이버 밴드 SNS공유">
                    <img src="content/images/icon/naver_band.png" />
                </a>
                <div class="label">네이버밴드 공유</div>
            </div>
            <div class="share-item facebook">
                <a href="#" data-toggle="sns_share" data-service="facebook" data-title="페이스북 SNS공유">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <div class="label">페이스북 공유</div>
            </div>
            <div class="share-item kakaostory">
                <a href="#" data-toggle="sns_share" data-service="kakaostory" data-title="카카오스토리 SNS공유">
                    <img src="content/images/icon/kakaostory_icon.png" />
                </a>
                <div class="label">카카오스토리 공유</div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="copyright">
            Copyright © 2019 JamesAndHailey
            <br />
            All Rights Reserved
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="script/lightslider/js/lightslider.min.js"></script>
    <script src="script/sakura/jquery-sakura.js"></script>
    <!-- mn7cwsrvym  / 0f283b0774-->
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=0f283b0774"></script>
    <!-- <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mn7cwsrvym"></script> -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="https://kit.fontawesome.com/c131427141.js"></script>
    <script src="js/main.js"></script>
</body>

</html>